<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mutiply - Disclaimer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1 class="pages-title">Disclaimer</h1>
    <br>
    <br>
    <br>
    <div class="dispoints text-justify">
        1. The Site publishes information relating to financial and investment issues from time to time. All information published and disseminated on the Site including the recommendations, blogs, contents of our newsletters, calculators, other tools and features
        provided on the Site are for information and educational purposes to enable the User(s) to make prudent financial decisions. <br> 2. All such information is for assistance only and shall not be taken as the sole basis for making any investment
        decisions.
        <br>3. The User(s) assume/s the entire risk that may be associated from the use of the information. The information, content posted, discussed, reviewed on the Site and other tools offered may not be suitable for all investors. This information
        should not be reproduced or redistributed or passed on directly or indirectly in any form to any other person or published, copied, in whole or in part, for any purpose.<br> 4. This information is not directed or intended for distribution to,
        or use by, any person or entity who is a citizen or resident of or located in any locality, state, country where such distribution, publication, availability or use would be contrary to law, regulation or which would subject Multiply to any registration
        or licensing requirements within such jurisdiction. <br>5. The information is intended to be used for personal purpose and not for any commercial interest without the prior written permission of Multiply.<br> 6. The information posted on the Site
        is relevant for that point in time and is based on the then facts, analysis, estimates and opinions. Multiply does not warrant that all future results or events will be consistent with this information. <br>7. The information, recommendations,
        opinions, suggestions may be based upon data and information sourced from third party data providers, news items, research reports, company websites etc and Multiply believes the information to be true.<br> 8. Multiply reserves the right to make
        modifications and alterations as may be required from time to time with or without prior notice. Multiply is committed to providing independent and transparent recommendation to its User(s). <br>9. Neither Multiply nor any of its associates, group
        companies, directors, employees, agents or representatives shall assume any responsibility concerning the use of information and shall not be liable for any damages whether direct, indirect, special or consequential including loss of revenue or
        lost profits that may arise from or in connection with the use of the information. <br>10. Multiply, its directors, officers, employees, affiliates and associates do not receive any fees, commission, compensation or other benefits from the subject
        company or third party in connection with the information provided on the Site and or the views and opinions expressed.<br> 11. Multiply is not responsible for activities happening on third party sites such as the trading/broking platform, etc.<br>        12. The transactions involving foreign exchange may entail risks from several factors including exchange rates fluctuations, changes in the value of currencies, etc. <br>13. Multiply is not a Portfolio Manager, Broker nor a Sub-broker and is not
        registered with any stock exchange. <br>14. Multiply does not execute transactions on behalf of the User and is based upon a discretionary model wherein the User(s) shall take decisions after full and complete research and in accordance with advice
        received by it through professionals.
        <br>15. User(s) agree that investing in equity involves risk and that Multiply does not give any guarantee of performance. <br>16. There are no outstanding litigations against Multiply, it subsidiaries and its directors.<br> 17. All layout, design,
        original artwork, concepts and other intellectual properties remain the property and belong to Multiply and may not be used in any form or for any purpose whatsoever by any party without the express written permission of Multiply. <br>18. All
        dealings, if any, done by Multiply or its officers and employees are done in accordance with its internal policies and procedures in accordance with the Regulations.<br> 19. Multiply , its officers and employees do not participate in business
        activities aimed at soliciting investment banking or merchant banking or brokerage services business, such as sales pitches and deal road shows. <br>20. The employees of Multiply are not engaged in sales trading, dealing, corporate finance advisory
        or any other activity that could affect the independence of its research report. Similarly, Multiply takes full efforts to maintain an arms-length relationship between its research activity and other activities. <br>21. Multiply does not provide
        any promise or assurance of favourable review in its research report to a company or industry or sector or group of companies or business group as consideration to commence or influence a business relationship or for the receipt of compensation
        or other benefits. <br>22. Subject to the applicable law, Multiply, its officers and employees may invest in the subject company in respect of whose securities any recommendations or suggestions are made. <br>23. Multiply, its officers do not
        provide a research analysis or a research report regarding a subject company for which they have acted as a manager or co-manager subject to the applicable law. <br>24. Multiply, its officers do not engage in any communication with a current or
        prospective User in the presence of personnel from investment banking or merchant banking or brokerage services divisions about an investment banking services transaction.<br> 25. Multiply’s officers take reasonable care to achieve and maintain
        independence and objectivity in making any recommendations, suggestions and opinions.<br> 26. Multiply has no actual/beneficial ownership of one per cent or more securities of the subject company.<br> 27. Multiply does not and will not have any
        material conflict of interest at the time when the recommendations are made and/or research reports are published and/or at the time of making a public appearance. <br>28. Multiply has not managed or co-managed public offering of securities for
        the subject company in the twelve months preceding the date of recommendation and/or publishing the research reports/analysis. <br>29. Multiply has never been engaged in market making activity for the subject company.<br> 30. Multiply shall not
        be liable for any loss of information howsoever caused whether as a result of any interruption, suspension, or termination of the Services and Site or otherwise. Multiply shall not be held liable for any loss of data technical or otherwise, information,
        particulars supplied by Users due to the reasons beyond its control like corruption of data or delay or failure to perform as a result of any causes or conditions that are beyond its control including but not limited to strike, riots, civil unrest,
        government policies, tampering of data by unauthorized persons like hackers, war and other natural calamities. <br>31. This is a private Site owned by Multiply. Any unauthorized scanning, use or exploitation of the same is strictly prohibited.
        If any User(s) is found to do so, Multiply may bring civil and/or criminal action and/or legal proceedings against the User(s) shall be entirely at the User’s your costs and consequences.


    </div>

</body>

</html>